.mobile_menu{
    width: 250px;
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    /*  left: 0;
     right: 0; */
    z-index: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.25s;
}

.menu_icon{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: auto;
}
.mobile_menu_comp li:first-child{
    flex-direction: row-reverse;
    padding-left: 0 !important;
    border-radius: 0;
    background: none;
    color: #212121;
}
.mobile_menu_comp li:first-child .menu_title{
    font-size: 1.5rem;
}


/* ===media querys==== */
@media only screen and (max-width: 300px)  {
    .mobile_menu { width: 200px; }
}
